
<!DOCTYPE html>
<html>

<script src=”https://code.jquery.com/jquery-3.3.1.slim.min.js”></script>
<script src=”https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js”></script>
<script src=”https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js”></script>
<link rel=”stylesheet” href=”https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css”>
<head>

<title>Django RSS Reader</title>

</head>

<nav class=“navbar navbar-expand-sm bg-dark navbar-dark”>

<ul class=“navbar-nav”>

<li class=“nav-item active”>

<a class=“nav-link” href=“/”>Home</a>

</ul>

</nav>

<body>

{% block body %}{% endblock %}

</body>

</html>

